
:root {
  /* font-family: 'BioRhyme', serif; */
  font-family: 'Amatic SC', sans-serif;
  height: 100vh;
  background-color: cadetblue;

 
}
#container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
 
}
#navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: #646cff; */
  border: white solid 2px;
  padding: 0px;
  margin-top: 20px;
}
#topbar{ 
  display: inline-flex;
  flex-direction: row;
  background-color: white;
  height: 3px;
  margin-top: 8px;
}
#homebar{
  display: inline-flex;
}
.homelink{
  color:black;
  font-size: 50px;
  font-family: 'Amatic SC', sans-serif;
  /* font-family: 'BioRhyme', serif;  */
  /* font-family: 'Cutive Mono', monospace; */
  letter-spacing: 2px;
  font-weight: 1000;
  padding: 0 5px;
  background:linear-gradient(
  to bottom,
  transparent 65%, #aafa5f 50%);
}

.home-container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 100px; 
font-size: 40px;
}
#name-container{
  display: flex;
  flex-direction: row;

}
.k{
  display: flex;
  color: black;
  font-size: 70px;
  font-family: 'Rubik Doodle Shadow', system-ui;
  background-color:skyblue;
  border: white solid 4px;
  clip-path: polygon(20% 6%, 150% 4%, 170% 130%, 9% 150%);
  font-weight: 200;

}
.e{
  display: flex;
  color:whitesmoke;
  font-size: 70px;
  font-family: cursive;
  background-color: #ff7875;
  border: white solid 3px;
  clip-path: polygon(20% 0%, 150% 20%, 170% 130%, 0% 150%);
  font-weight: 200;
  margin-bottom: 39px;
}
.n{
  display: flex;
  color: sandybrown;
  font-size: 70px;
  font-family: unset;
  background-color:mediumvioletred;
  border: white solid 3px;
  clip-path: polygon(6% 25%, 145% 37%, 183% 134%, 25% 170%);
  font-weight: 200;
}
.d{
  display: flex;
  color: wheat;
  font-size: 70px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:midnightblue;
  border: white solid 2px;
  clip-path: polygon(20% 0%, 150% 20%, 170% 130%, 0% 150%);
  font-weight: 200;
}
.r{
  display: flex;
  color: royalblue;
  font-size: 70px;
  font-family: math;
  background-color:orange;
  border: white solid 4px;
  clip-path: polygon(25% -2%, 107% -75%, 170% 130%, -4% 150%);
  font-weight: 200;
  margin-bottom: 45px;

}
.a{
  display: flex;
  color:pink;
  font-size: 70px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:yellowgreen;
  border: white solid 3px;
  clip-path: polygon(20% 3%, 150% 20%, 170% 130%, 0% 150%);
  font-weight: 200;
}

.projects{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  /* background-color: #aafa5f; */
  padding: 15px;
  margin: 0 5px;
}

.girlDinner, .strangersThings{
  margin: 20px;
}
.video{
  padding: 50px;
}
.resume{
 display: flex;
  margin: 10px;
}
.link{
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-weight: 200;
  color:black;
  text-decoration: inherit;
  font-size: 25px;
}
a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px;
  font-weight: 500;
  color:black;
  text-decoration: inherit;
  font-size: 30px;

}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* a:hover {
  color: #646cff;
} */
.link:hover{
  color:black;
}
 body {
  margin: 4;
}

.card {
  padding: 2em;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
}

button {
  display: flex;
  border-radius: 25px;
  border: -1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


