
:root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #535bf2;
  border:black solid 4px;

 
}
#container{
  display: flex;
  flex-direction: column-reverse;
  border:white solid;
}
#navbar{
  display: flex;
  flex-direction: row;
  margin-top: 290px;
}
#sidebar{
  display: flex;
  flex-direction: column-reverse;
  background-color: orange;
  
 
}
a {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  font-weight: 500;
  color: #53f85b;;
  text-decoration: inherit;
  font-size: 20px;

}
a:hover {
  color: white;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #94ec0e;
}
.title{
  font-size: 3.2em;
  line-height: 1.1;
  color: #94ec0e;
}
.header{
  font-size: 3.0em;
  font-weight: 200;
  line-height: 1.1;
  color: #94ec0e;
}


.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


